{% extends "header.html" %} {% block content %}
<h1>MEME-STAGRAM</h1>
<h2>Project Members: Syam Angalakuditi, Eric Yi, Raymond Yu</h2>
<p>
  This website was created for sharing memes. Once registered, users can log in
  to post their own memes to the site. Memes will be assigned one or more
  keywords representing meme categories (such as wholesome, depressing,
  shitpost, etc). Some features include a post liking system, commenting system,
  post bookmarking system so users can remember their favorite memes from other
  users, and a befriending system. The website will also recommend other users
  based on your current friends. Users will be able to search for other users by
  username, as well as being able to search for posts by caption, with the
  ability to filter by keyword too.
</p>
{% endblock %}
