{% extends "header.html" %} {% block content %} {% if
current_user.is_authenticated %}

<div class="row bottom-padded">
  <div class="col userinfodiv">
    {# Profile picture #}
    {%if image|length < 1 %} <h1>{{image}}</h1>
      <img class="propic" src="{{url_for('static', filename='defaultpfp.png')}}" alt="Profile Picture" />
      {% else %}
      <img class="propic" src="data:image/png;base64,{{image}}" alt="Profile Picture" />
      {% endif %}

      <p class="left-padded">{{current_user.username}}</p>

      <!--Link to Stats-->
      <a href="{{ url_for('site.user_stats', username=current_user.username) }}">See your stats</a>
      {# Link to see all of the current user's memes. #}
     <hr>
      <a href="{{ url_for('site.user_detail', username=current_user.username) }}">See all of your own posts here</a>

  </div>
</div>
<div class="row bottom-padded">
  <div class="col">
    {# Username Update Form #}
    <h1>Update Username</h1>
    <form method="POST" action="">
      {{ update_username_form.csrf_token }}
      <div class="form-group">
        {{ update_username_form.username.label }} {{
        update_username_form.username(class="form-control") }} {% if
        update_username_form.username.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_username_form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %} {{ update_username_form.confirm_username.label }} {{
        update_username_form.confirm_username(class="form-control") }} {% if
        update_username_form.confirm_username.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_username_form.confirm_username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ update_username_form.submit(class="form-control form-control-lg btn
      btn-outline-info") }}
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    {# Email Update Form #}
    <h1>Update Email</h1>
    <form method="POST" action="">
      {{ update_email_form.csrf_token }}
      <div class="form-group">
        {{ update_email_form.email.label }} {{
        update_email_form.email(class="form-control") }} {% if
        update_email_form.email.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_email_form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %} {{ update_email_form.confirm_email.label }} {{
        update_email_form.confirm_email(class="form-control") }} {% if
        update_email_form.confirm_email.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_email_form.confirm_email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ update_email_form.submit(class="form-control form-control-lg btn
      btn-outline-info") }}
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    {# Password Update Form #}
    <h1>Update Password</h1>
    <form method="POST" action="">
      {{ update_password_form.csrf_token }}
      <div class="form-group">
        {{ update_password_form.new_password.label }} {{
        update_password_form.new_password(class="form-control") }} {% if
        update_password_form.new_password.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_password_form.new_password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %} {{ update_password_form.confirm_password.label }} {{
        update_password_form.confirm_password(class="form-control") }} {% if
        update_password_form.confirm_password.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_password_form.confirm_password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ update_password_form.submit(class="form-control form-control-lg btn
      btn-outline-info") }}
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    {# Profile Picture Update Form #}
    <h1>Update Profile Picture</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      {{ update_propic_form.csrf_token }}
      <div class="form-group">
        {{ update_propic_form.image.label }} {{
        update_propic_form.image(class="form-control") }} {% if
        update_propic_form.image.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_propic_form.image.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ update_propic_form.submit(class="form-control form-control-lg btn
      btn-outline-info") }}
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
   
  </div>
</div>

{% endif %} {% endblock %}