{% extends "header.html" %} {% block content %} {% if
current_user.is_authenticated %}

<div class="row">
  <div class="col">
    {# Profile picture #}
    <img
      class="propic"
      src="data:image/png;base64,{{image}}"
      alt="Profile Picture"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    {# Username Update Form #}
    <h1>Update Username</h1>
    <form method="POST" action="">
      {{ update_username_form.csrf_token }}
      <div class="form-group">
        {{ update_username_form.username.label }} {{
        update_username_form.username(class="form-control") }} {% if
        update_username_form.username.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_username_form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %} {{ update_username_form.confirm_username.label }} {{
        update_username_form.confirm_username(class="form-control") }} {% if
        update_username_form.confirm_username.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_username_form.confirm_username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ update_username_form.submit(class="btn btn-outline-success") }}
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    {# Profile Picture Update Form #}
    <h1>Update Profile Picture</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      {{ update_propic_form.csrf_token }}
      <div class="form-group">
        {{ update_propic_form.image.label }} {{
        update_propic_form.image(class="form-control") }} {% if
        update_propic_form.image.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in update_propic_form.image.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ update_propic_form.submit(class="btn btn-outline-success") }}
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    {# Link to see all of the current user's reviews. #}
    <a href="{{ url_for('site.user_detail', username=current_user.username) }}"
      >See all of your reviews here</a
    >
  </div>
</div>

{% endif %} {% endblock %}
