{% extends "header.html" %}
{% block content %}
<div class="container">
    <form action="/" class="form-inline my-2 my-lg-0" method="POST">
        {{ form.csrf_token }}
        {{ form.query(class="form-control", placeholder="Search") }}

        {% if form.query.errors %}
        <div class="alert alert-warning" role="alert">
            {% for error in form.query.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}

        {{ form.submit(class="btn btn-outline-success") }}
    </form>
</div>

<div class="container">
    <h2>Discover your inner-meme today!</h2>
</div>
{% endblock %}