{% extends "header.html" %} {% block content %}
<div class="row">
  <div class="col">
    <h1>Post a New Meme!</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.title.label }} {{ form.title(class="form-control") }} {% if
        form.title.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %} {{ form.meme.label }} {{ form.meme(class="form-control") }}
        {% if form.meme.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.meme.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %} {{ form.categories.label }} {{
        form.categories(class="form-control") }} {% if form.categories.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.categories.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ form.submit(class="form-control form-control-lg btn btn-outline-info")
      }}
    </form>
  </div>
</div>
{% endblock %}
