{% extends "header.html" %} {% block content %} {% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %} {% if results %}
<h1>Results:</h1>
<div class="container-fluid">
  {% for i in range(results|length) %}
  <div class="media meme_query">
    <img class="memepic-mini" src="data:image/png;base64,{{meme_pics[i]}}" />
    <div class="media-body">
      <h5>
        <a href="{{ url_for('site.meme_detail', meme_id=results[i].meme_id) }}">
          {{ results[i].title }}
        </a>
      </h5>
    </div>
  </div>
  <hr>
  {% endfor %}
</div>
{% else %}
<h1>Sorry! No memes to be found</h1>
<p>
  Click here to return to the
  <a href="{{ url_for('site.index') }}">home page</a>
</p>
{% endif %} {% endblock %}
