{% extends "header.html" %} {% block content %} {% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %} {% if results %}
<div class="container-fluid">
  {% for i in range(results|length) %}
  <div class="media bottom-padded">
    <img class="propic-mini" src="data:image/png;base64,{{propics[i]}}" />
    <div class="media-body">
      <h5>
        <a
          href="{{ url_for('site.user_detail', username=results[i].username) }}"
        >
          {{ results[i].username }}
        </a>
      </h5>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h1>Sorry! No users to be found</h1>
<p>
  Click here to return to the
  <a href="{{ url_for('site.index') }}">home page</a>
</p>
{% endif %} {% endblock %}
