{% extends "header.html" %} {% block content %}
<div class="row">
  <div class="col">
    {# Display any error messages #} {% if error_msg %}
    <b>{{ error_msg }}</b>
    {% endif %}
  </div>
</div>
{% if user %}
<div class="row">
  <div class="col" style="display: flex; align-items: center">
    {# Profile picture #}
    <img
      class="propic"
      src="data:image/png;base64,{{image}}"
      alt="Profile Picture"
    />
    {# Indicate which user's reviews we're looking at #}
    {% if user == current_user.username %}
    <p style="padding-left: 10px">My Posts</p>
    {% else %}
    <p style="padding-left: 10px">{{current_user.username}}</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    {# Show all reviews made by the user #}
    <h2>Total Reviews: {{ posts_count }}</h2>
    <ul class="media-list">
      {% for post in posts %}
      <li class="media review-item">
        <div class="media-body">
            <p> FILLER </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %} {% endblock %}
