{% extends "header.html" %}
{% block content %}
<div class="row">
  <div class="col">
    <!--Displays user profile picture-->
    <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
  </div>
  <div class="col">
    <h2>{{ username }}'s Memes</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <!--Memes: displays number of memes made by user.-->
    <hr id="user_hr">
    <h1 id = "memes_header1"> Memes <small class="float-right">{{ user_memes.count() }} total memes</small></h1>

    <ul class="media-list">
      {% for meme, pic in usermemes_memepics: %}
      <li class="media ud_item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ meme.date }}</small>
          </span>

          <!--Displays Meme title, then image underneath.-->
          <strong class = "title">Title: <a href="{{ url_for('site.meme_detail', meme_id=meme.meme_id) }}">
              {{ meme.title }}
            </a>
          </strong> 

          <br>
        
          <img class="user_detail_meme_pic" 
           
               src="data:image/png;base64,{{ pic }}" 

               alt="{{ meme.title }}" />

          <p>{{ meme.categories }}</p>
        
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}