@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');

.navbar {
    background-color: #1d6da7;
    padding: 20px;
    margin-bottom: 5%;
    font-size: 110%;
    border: black 5px solid;
}

.nav-link {
    color: white !important;
}

.nav-item {
    padding-left: 30px !important;
}

body{
    font-family: 'Chivo Mono', monospace;
}

h1 {
    color: #1d6da7;
}

b {
    color: #1d6da7;
}

.row {
    padding-bottom: 5vh;
}

.propic {
    height: 75px;
    width: 75px;
    border-radius: 50px;
}

.memepic {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}